body {
  background-color: #333333;
  color: white;
  font-family: sans-serif;
  /*the gradient in the header is supposed to span the entire width, not sure
    why it doesn't. Yeah, it bugs the hell out of me, too*/
  /*margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;*/
}

#header {
  position: relative;
  min-height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, #111111, #333333);
  
  
}
#header_title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  
}
#header_links {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  /*font-size: 12px;*/
  text-align: right;
}

#footer {
  font-size: 10px;
}

.game {
  float: left;
  width: 200px;
  height: 300px;
  background-color: #444444;
  padding: 5px 5px 5px 5px;
  margin: 2px 2px 2px 2px;
  font-size: 12px;
}
.gamecover {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
}
.gametext {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
} 
  

h1 {
  font-size: 20px;
}

a:link {
  color: #aaaaaa;
}
a:visited {
  color: #888888;
}
